In [2]:
import pandas as pd
from pathlib import Path

In [3]:
diabet_df=pd.read_csv(Path('../Marc/diabetes_data_kaggle.csv'))
diabet_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
diabet_df=diabet_df.drop(columns=['Pregnancies'])
diabet_df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [5]:
diabet_df["Insulin"].describe()

count    768.000000
mean      79.799479
std      115.244002
min        0.000000
25%        0.000000
50%       30.500000
75%      127.250000
max      846.000000
Name: Insulin, dtype: float64

In [6]:
diabet_ins=diabet_df['Insulin'].loc[diabet_df['Insulin']==0]
diabet_ins

0      0
1      0
2      0
5      0
7      0
      ..
761    0
762    0
764    0
766    0
767    0
Name: Insulin, Length: 374, dtype: int64

In [7]:
diabet_df['Insulin'].describe()

count    768.000000
mean      79.799479
std      115.244002
min        0.000000
25%        0.000000
50%       30.500000
75%      127.250000
max      846.000000
Name: Insulin, dtype: float64

In [8]:
diabet_df.loc[:,"Insulin"]= diabet_df.loc[:,"Insulin"].replace(0,"")

In [9]:
diabet_df['Insulin']

0
1
2
3       94
4      168
      ...
763    180
764
765    112
766
767
Name: Insulin, Length: 768, dtype: object

In [10]:
diabet_df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,,33.6,0.627,50,1
1,85,66,29,,26.6,0.351,31,0
2,183,64,0,,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,,30.1,0.349,47,1
767,93,70,31,,30.4,0.315,23,0

In [11]:
#diabet_df.to_csv('Diabetnew.csv',index=False)